@font-face {
    font-family: "Source-Sans-Pro-Regular";
    src: url("fonts/source-sans-pro.regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source-Sans-Pro-Bold";
    src: url("fonts/source-sans-pro.bold.ttf") format("truetype");
}


